.banner {
  background-image: url(../../assets/images/banner.png);
  width: 100%;
  min-height: 200px;
  background-repeat: no-repeat;
  /* position: absolute; */
  /* padding: 1rem; */
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 1.5rem;
  object-fit: contain;
  /* top: 0;
  left: 0; */
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  /* background-attachment: fixed; */
  background-position: center;
}

.banner__image {
  max-width: 150px;
  height: auto;
  margin-top: 1rem;
  margin-bottom: auto;
}

.companypage__images {
  max-width: 200px;
  height: auto;
}

@media only screen and (max-width: 700px) {
  .banner__image {
    display: none;
  }
}
